$color-primary: #9b2def;

$color-secondary: #2d9bef;

$color-tertiary: #2dceef;

$color-black-1: #161a1a;

$color-black-2: #303033;

$color-grey-1: #3a3a3d;
$color-grey-2: #99999f;
$color-grey-3: #d5d5d5;

$color-white: #fff;
