@keyframes premium-btn {
  0% {
    background-image: linear-gradient(to right, $color-tertiary, #9e32f1d5);
  }
  100% {
    background-image: linear-gradient(to right, #9e32f1d5, $color-tertiary);
  }
}
@keyframes fromleft {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes frombottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes header-ani {
  0% {
    transform: translateY(-10px);
    opacity: 0;
    z-index: 1000;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    z-index: 1111;
  }
}
@keyframes heading2 {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
