.home__page {
  background-color: $color-black-1;
}
.home__flow {
  padding-top: 10vh;
  padding-bottom: 3rem;
}
.home__recently {
  padding-top: 3vh;
  padding-bottom: 3rem;
}
.home__browse {
  padding-top: 3vh;
  padding-bottom: 3rem;
}
