.rock-page {
  background-color: $color-black-1;
  background-image: url(../../images/BG-rock1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}
